.filtration-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-button {
    background-color: #71C171;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}